body{
  font-family: 'Roboto', sans-serif;
  
}

*{
  background-color: rgb(231, 231, 231);
}

.titolo{
  text-align: center;
}

.foto_sopra{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sotto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
